:root {
    --background: #310A31;
    --footer: #C287E8;
    --footer-color: #000;
    --second-footer-color: #F8F4A6;
    --text-color: #FFF;
    --link-color: #000;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: purple;
    opacity: .75;
}

body {
    font-family: monospace;
    background-color: var(--background);
    color: var(--text-color);
    text-align: center;
}

main h1 {
    font-size: 20em;
    animation: animateText 3s infinite linear;
}

@keyframes animateText {
    from {
        opacity: .50;
    }
    to {
        opacity: .75;
    }
}

a:any-link {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bolder;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px;
    background-color: var(--footer);
    color: var(--footer-color)
}

footer .version {
    color: var(--second-footer-color);
}

@media screen and ( max-width: 767px ) {
    main {
        margin-bottom: 10em;
    }
    main h1  {
        font-size: 5em;
    }
}