<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>ImgUP | Home</title>
</head>
<body>
    <main>
        <h1>ImgUP</h1>
        <h3>cool private image hosting service.</h3>
    </main>

    <div class="introduction">
        <h3>For anyone interested in using and testing our servce, please contact us <a href="mailto:mihai@8xu.tech" target="_blank">here</a>.</h3>
        <h3>Get a random image <a href="/random" target="_blank">here</a></h3>
    </div>

    <div class="ad">
        <h3>We are looking to buy a cool domain for this platform. Support us <a href="https://www.buymeacoffee.com/mihd" target="_blank">here</a>.</h3>
    </div>

    <footer>
        brought to you by <a href="8xu.tech" target="_blank">mihai dragomir</a>
        <p>version <span class="version">{{ version }}</span></p>
        <p>Users: {{ users }}</p>
        <p>Images: {{ images }}</p>
    </footer>
</body>
</html>